* {
  margin: 0;
  padding: 0;
  background-color:#E5E5E5;
}

a{text-decoration: none; background-color:transparent; color: white;}

.grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin-left: 10px;   
    gap: 5px;   
}

header {
  padding: 20px 0 10px 0;
}

h1 {
    grid-column: 4/-1;
    margin-top: 50px;    
}

h3 {
  grid-column: 5/-1;
  height: 30px;
}

span {
  color: #0A3871;
  }

.button {
    grid-column: 4/5;
    padding-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-align: center;              
}

.btn-inicio, .btn-novo-jogo, .btn-salvar {
    width: 269px;
    border-radius: 24px;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #0A3871;
    font-family: inter, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-nova-palavra, .btn-desistir, .btn-cancelar {
    width: 269px;
    border-radius: 24px;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    background-color: lightblue;
    font-family: inter, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    cursor: pointer;
}

.btn-inicio:hover, .btn-nova-palavra:hover, .btn-novo-jogo:hover, 
.btn-desistir:hover, .btn-salvar:hover, .btn-cancelar:hover {
    transform: scale(1.05);
}

.page-info {
    grid-column: 4/-1;  
    padding-top: 50px;
    justify-content: center;       
} 

.a-git {
    grid-column:4/4;
    margin-right: auto;
}

.a-lkd {
    grid-column: 5/5;
    margin-right: auto;
}

/*jogo*/

#canvas {
    grid-column: 4/4;  
    
  }
  
 .letras-erradas-container {     
    grid-column: 4/4;
    font-size: 28px;
  }
  
  .letras-erradas-container span {
    margin: 0 2px;
  }
  
  .palavra-secreta-container {
    grid-column: 5/5;
    font-size: 45px;
  }
  
  .aviso-palavra-repetida {
    color: #E5E5E5;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -55px;
    transition: transform 0.3s ease-in-out;
  }
  
  .aviso-palavra-repetida p {
    margin: 0;
  }
  
  .aviso-palavra-repetida.show {
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    transform: translateY(-50px);
  }
  
  .palavra-secreta-container span {
    margin: 0 5px;
  }
  
  .popup-container {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .popup button {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
  }
  
  /* nova palavra */

  input {
    grid-column: 4/-1;
    margin-top: 80px;
    width: 260px;
    height: 30px;
    text-align: center;
    border-color:#0A3871;
    border-radius: 13px;
    text-transform: uppercase;
  }

 /* responsivo */

 @media screen and (max-width: 844px) {
    h1 {
      grid-column: 3/-1;
    }

    h3 {
      grid-column: 3/-1;
    }
    .letras-erradas-container {
      grid-column: 3/-1;
      font-size: 20px;
    }

    .palavra-secreta-container {
      grid-column: 3/-1;
    }

    .button {
      grid-column: 2/-1;
    }
    
    .page-info {
      grid-column: 3/-1;
    }

    .a-git {
      grid-column:3/4;
      margin-right: auto;
  }
  
  .a-lkd {
      grid-column: 4/5;
      margin-right: auto;
  }

    input {
      grid-column: 2/-1;
    }   
 }

  
  